# Ejercicios Pair Programming - Módulo 2 Sprint 1
## Lección 2 - Pandas II - Carga y guardado de datos
### Noemi Azorin y Silvia Gordón

En este ejercicio de pair programming pondremos en práctica como cargar distintos tipos de archivos en Python usando Pandas.

In [51]:
import pandas as pd
import locale
from locale import getpreferredencoding

1- Los objetivos de este pair programming:
- Id cargando todos los ficheros en vuestro jupyter.
- Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.
- Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado,  guardad esos datos en los siguientes formatos:
        -csv
        -excel
        -json
        -pickle

In [52]:
#utilizamos esta librería para conocer el encoding del archivo csv y poder leerlo.
locale.getpreferredencoding("./ficheros_pandas/quejas.csv")

'cp1252'

In [13]:
df_csv = pd.read_csv("./ficheros_pandas/quejas.csv", sep = ";", encoding = 'cp1252')
df_csv.head(1)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [14]:
df_json = pd.read_json("./ficheros_pandas/quejas.json")
df_json.head(1)

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [19]:
df_json2 = df_json["data"].apply(pd.Series)
df_json2.head(4)

,unidad_descripcion,tipo,estado,tema,consejeria,fecha_contestacion,canal_entrada,fecha_entrada,subtema
0,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-28 00:00:00,N/A
1,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-28 00:00:00,N/A
2,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-23 00:00:00,N/A
3,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-24 00:00:00,N/A

In [20]:
df_excel = pd.read_excel("./ficheros_pandas/quejas2.xlsx")
df_excel.head(4)

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID

In [21]:
df_pickle = pd.read_pickle("./ficheros_pandas/algas.pickle")
df_pickle.head(4)

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7

In [38]:
df_tabla = pd.read_clipboard("./ficheros_pandas/ATAJOS_EXCEL.xlsx")
df_tabla.head(4)

          Ctrl+A Muestra el cuadro de diálogo Abrir.
0        Ctrl+B Muestra el cuadro de diálogo Buscar.
1             Ctrl+C Copia las celdas seleccionadas.
2  Ctrl+D Copia una fórmula hacia la derecha sobr...
3  Ctrl+E Selecciona todas las celdas de la hoja ...

b - guardamos el archivo en csv y lo volvemos a leer con este nuevo formato.

In [41]:
df_tabla_csv = df_tabla.to_csv("./ficheros_pandas/ATAJOS_EXCEL.csv")
df_tabla_csv

In [43]:
df_lectura_csv_creado = pd.read_csv("./ficheros_pandas/ATAJOS_EXCEL.csv")
df_lectura_csv_creado.head(4)

   Unnamed: 0         Ctrl+A Muestra el cuadro de diálogo Abrir.
0           0        Ctrl+B Muestra el cuadro de diálogo Buscar.
1           1             Ctrl+C Copia las celdas seleccionadas.
2           2  Ctrl+D Copia una fórmula hacia la derecha sobr...
3           3  Ctrl+E Selecciona todas las celdas de la hoja ...

c - guardamos el archivo en Excel y lo volvemos a leer con este nuevo formato.

In [44]:
df_tabla_excel = df_tabla.to_excel("./ficheros_pandas/ATAJOS_EXCEL_nuevo.xlsx")

In [46]:
df_lectura_excel_creado = pd.read_excel("./ficheros_pandas/ATAJOS_EXCEL_nuevo.xlsx")
df_lectura_excel_creado.head(4)

   Unnamed: 0         Ctrl+A Muestra el cuadro de diálogo Abrir.
0           0        Ctrl+B Muestra el cuadro de diálogo Buscar.
1           1             Ctrl+C Copia las celdas seleccionadas.
2           2  Ctrl+D Copia una fórmula hacia la derecha sobr...
3           3  Ctrl+E Selecciona todas las celdas de la hoja ...

d - guardamos el archivo en formato .json y lo volvemos a leer con este nuevo formato.

In [47]:
df_tabla_json = df_tabla.to_json("./ficheros_pandas/ATAJOS_EXCEL.json")

In [48]:
df_lectura_json_creado = pd.read_json("./ficheros_pandas/ATAJOS_EXCEL.json")
df_lectura_json_creado.head(4)

       Ctrl+A Muestra el cuadro de diálogo Abrir.
0     Ctrl+B Muestra el cuadro de diálogo Buscar.
1          Ctrl+C Copia las celdas seleccionadas.
10  Ctrl+P Muestra el cuadro de diálogo Imprimir.
11             Ctrl+R Cierra el libro de trabajo.

e - guardamos el archivo en formato .pickle y lo volvemos a leer con este nuevo formato.

In [49]:
df_tabla_pickle = df_tabla.to_pickle("./ficheros_pandas/ATAJOS_EXCEL.pickle")

In [50]:
df_lectura_pickle_creado = pd.read_pickle("./ficheros_pandas/ATAJOS_EXCEL.pickle")
df_lectura_pickle_creado.head(4)

          Ctrl+A Muestra el cuadro de diálogo Abrir.
0        Ctrl+B Muestra el cuadro de diálogo Buscar.
1             Ctrl+C Copia las celdas seleccionadas.
2  Ctrl+D Copia una fórmula hacia la derecha sobr...
3  Ctrl+E Selecciona todas las celdas de la hoja ...